* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body {
    background: rgb(24, 3, 51);
}
h1 {
    color: burlywood;
    width: 90%;
    max-width: 500px;
    font-size: 50px;
    margin: 200px auto;
    margin-bottom: -280px;
    align-items: center;
    border-bottom: 2px solid slateblue;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.input-box img {
    width: 35px;
    cursor: pointer;
}